.wrapper {
  width: 960px auto;
  margin: 0 auto;
}

.thermostat {
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 500px;
  height: 200px;
  background-color: red;
}

.display {
  position: relative;
  height: 130px;
  width: 300px;
  background-color: blue;
}
